div.m-menu-documents(data-offset-top="100", bs-affix)
  div.m-menu-documents-item(
  ui-sref='ticket({status:"Открыт"})',
  ng-class='{"m-menu-document-item-active": false}')
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Новые заказы
  div.m-menu-documents-item(
  ui-sref='ticket({status:"Ожидание"})',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") В процессе
  div.m-menu-documents-item(
  ui-sref='ticket({status:"Закрыт"})',
  ng-class='{"m-menu-document-item-active": false}'
  )
    img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
    img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
    md-tooltip(md-direction="bottom") Закрытые
  //div.m-menu-documents-item(
  //ng-click='vm.document.docType = item.value; vm.getNumberDocument()',
  //ng-class='{"m-menu-document-item-active": false}'
  //)
  //  img.disabled(ng-src='../assets/images/help_desk/ticket.svg')
  //  img.active(ng-src='../assets/images/help_desk/ticket-reverse.svg')
  //  md-tooltip(md-direction="bottom") Добавить новый

div.m-menu-documents.m-menu-documents-right(data-offset-top="100", bs-affix)
  div.m-menu-documents-item(ng-click='vm.sendRequestSelling()', ng-class='{animation: vm.getClassValidationForSubmit()}')
    img.disabled(ng-src='../assets/images/help_desk/backup.svg')
    img.active(ng-src='../assets/images/help_desk/backup-reverse.svg')
    md-tooltip(md-direction="bottom") Отправить
  div.m-menu-documents-item(ui-sref='settings')
    img.disabled(ng-src='../assets/images/help_desk/settings.svg')
    img.active(ng-src='../assets/images/help_desk/settings-reverse.svg')
    md-tooltip(md-direction="bottom") Настройки
  div.m-menu-documents-item(ng-click='vm.logout()')
    img.disabled(ng-src='../assets/images/help_desk/close.svg')
    img.active(ng-src='../assets/images/help_desk/close-reverse.svg')
    md-tooltip(md-direction="bottom") Закрыть


div.m-row.m-document.m-flex
  div.m-left-body
    div.m-row
      h1.text-header Новые заявки

    div.like-invoice-title
      div.m-point.m-point-greendot
      | Количество заявок: {{vm.tickets.length}}

    .like-invoice-body-clear-left-top-padding(ng-show='vm.tickets')
      div.m-row.m-flex
        // назад
        button.m-select(  type='button', placeholder='', ui-sref='ticket')
          span.m-select.m-selected-back
          md-tooltip(md-direction="bottom") Назад

        // statuses
        button.m-select(
          type='button',
          ng-model='vm.thread.status',
          placeholder='',
          data-html='1',
          data-toggle='true',
          bs-options='item.value as item.label for item in vm.statuses',
          bs-select='',
          bs-on-select='vm.setStatus'
          )
          span.caret
        //  id ответственного
        button.m-select.m-select-gray(
          type='button',
          ng-model='vm.thread.user.idToEnter',
          placeholder='',
          data-html='1',
          data-toggle='true',
          bs-options='item.value as item.label for item in vm.employers',
          bs-select='')
          span.caret
        button.m-select.m-select-gray(
          type='button',
          ng-model='vm.selectedStatus',
          placeholder='',
          data-html='1',
          data-toggle='true',
          bs-options='item.value as item.label for item in vm.deadlines',
          bs-select='')
          span.caret
        div(style='display: flex; margin-left: auto;')
          div.m-checkbox-start.m-checkbox-start-normal(
            ng-class="{'m-checkbox-checked-start':vm.thread.star}",
            ng-click="$event.stopPropagation(); vm.thread.star = !vm.thread.star; vm.starThread(vm.thread.star, vm.thread._id);")
          div.m-number-ticket.m-number-ticket-normal #
            | {{vm.thread.id}}
          // forward
          button.m-select(  type='button', placeholder='')
            span.m-select.m-selected-forward
            md-tooltip(md-direction="bottom") Переслать
          // copy
          button.m-select(  type='button', placeholder='')
            span.m-select.m-selected-copy
            md-tooltip(md-direction="bottom") Ответить
          // merge
          button.m-select(  type='button', placeholder='')
            span.m-select.m-selected-merge
            md-tooltip(md-direction="bottom") Объеденить
          // delete
          button.m-select(  type='button', placeholder='')
            span.m-select.m-selected-bucket
            md-tooltip(md-direction="bottom") Удалить


      .m-table
        div.m-row( ng-repeat='item in vm.tickets | orderBy:"createDate":true ', style='padding-top: 15px;padding-bottom: 10px;')
          div(style="display:flex;")
            div(style='margin: 5px 10px;')
              .m-author-image
                img(gravatar-src="vm.TicketSupportService.getFilterEmail(vm.TicketSupportService.getHeaderInObjectWithValue(item.headers, 'From'))" ,
                width='40')
            div(style='margin: 10px 10px;flex: 1;' ng-if='item.headers')
              span.m-company-code(ng-if='item.question') {{vm.thread.client.idToEnter}}
              span.m-company-name(ng-if='item.question') &nbsp; | {{vm.thread.client.nameCompany}}
              span.m-company-code(ng-if='!item.question') {{vm.thread.user.idToEnter}}
              span.m-company-name(ng-if='!item.question') &nbsp; | {{vm.thread.user.name}}
              //span {{vm.TicketSupportService.getHeaderInObjectWithValue(item.headers, 'From')}}
              br
              span.m-subject(ng-if='item.question') {{vm.TicketSupportService.getHeaderInObjectWithValue(item.headers, 'Subject')}}
              span.m-subject(ng-if='!item.question')  Ответ сотрудника

            div(style='margin: 10px 10px;flex: 1;' ng-if='item.type=="Comment"')
              span.m-company-code {{vm.thread.user.idToEnter}}
              span.m-company-name &nbsp; | {{vm.thread.user.name}}
              //span {{vm.TicketSupportService.getHeaderInObjectWithValue(item.headers, 'From')}}
              br
              span.m-subject Комментарий

            .m-created-date {{item.createDate | date :'d MMM'}}
          div(
            style='padding-left: 76px;overflow: hidden; color:#000;',
            ng-if='item.body',
            ng-bind-html='vm.$sce.trustAsHtml(item.body)')
          div(
            style='padding-left: 76px;overflow: hidden; color:#000dd;'
            ng-repeat='part in item.parts' ng-if='part.filename')
            a(href='{{vm.envService.read("apiUrl")}}api/attachment/{{part._id}}') {{part.filename}}

          div(
            style='padding-left: 76px;overflow: hidden;',
            ng-if='item.type=="Comment"') {{item.text}}

        // style for reply request
        div(style='padding-top: 15px; padding-left:15px; padding-bottom: 10px;min-height: 150px;')
          .btn-group.m-radio-group-text-area(ng-model='vm.actionType', bs-radio-group='')
            label.btn.btn-default(ng-click='vm.actionType ="reply"')
              input.btn.btn-default(type='radio', value='reply')
              |  ответить
            label.btn.btn-default(ng-click='vm.actionType ="forward"')
              input.btn.btn-default(type='radio', value='forward')
              |  переслать
            label.btn.btn-default(ng-click='vm.actionType ="note"')
              input.btn.btn-default(type='radio', value='note')
              |  добавить заметку
          br
          textarea.mail-area(style='outline:none;width: 100%;height:140px;' ,ng-class="{'deactiveDashed': vm.body }",
          required='',
          name='description',
          ng-model='vm.body',
          dynamic-text-area,
          msd-elastic)


        div(ng-repeat='item in vm.ticket.attachments')
          | {{item.filename}}
          md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary" ng-click='vm.ticket.attachments.splice($index,1)') Удалить
        div(style='display:flex;')
          .m-input-container
            label Выберите файл
            br
            input(type='file' ng-model='vm.file' base-sixty-four-input)
          .m-input-container
            md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.ticket.attachments.push(vm.file)') Добавить
        div(style="display:flex;")
          //md-button.m-button-material.m-button(style='margin-left:auto;' ,md-no-ink, class="md-primary", ng-click='vm.addComment(vm.body)') Добавить комментарий
          md-button.m-button-material.m-button(style='margin-left:auto;', md-no-ink, class="md-primary", ng-click='vm.runAction(vm.actionType , vm.body, vm.ticket.attachments)') Ответить



  div.m-right-list
    div.m-block-search.m-input-container
      div.m-wrapper
        input.m-serach-input(type='text')

    div.m-body-activity
      div.m-title-profile.m-flex
        .m-author-image
          img(gravatar-src="vm.thread.replyTo",
          width='40')
        div(style='flex: 1;margin: 10px 5px;')
          span.m-company-code {{vm.thread.client.idToEnter}}
          span.m-company-name &nbsp; | {{vm.thread.client.nameCompany}}
          br
          span.red {{vm.thread.client.email}}

      div.m-history-item(ng-repeat='item in vm.history')
        a
          img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAA+ElEQVQoU3WRYbGDMBCEb4OBSkBCHTwkPAk1EFIc4IAmGEBCJCChEioBAXDXuQ5h2jTlDzOb+y6bXVDhG8exWdd16brunh8jF0IIFxFpANTbtl1z6APYh2vnXK+LvPc3Y0y01s5p8QHoIYB727bT+63e+wnAnPQXkIu5Te99D+ChEEIIVyJa8s0FaFJ7UJqITsaY2VobS6mlIIjo8QL0kb9sJV0tMXNzALo52RORswaQ/mpXu/kC9gCiMeYmIrX24Zy7qP4FDMNwqqoqvpeVvCv0ATCzFjQxc583uw/+a0KHJQB/IqLFLaWU9C1EpGl6pKtKg7nGzPEJ3S3CWt7Rn0UAAAAASUVORK5CYII=')
          span.gray {{item.lastTicket.snippet}}

      div.m-history-item.display-all
        a
          span.red Показать все








