pagination-directive{
  display: flex;
}

.pagination {
  margin: auto;
  margin-top: 16px;

  .page {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #ff0000;
    }
    .disabled {
      color: #c5c5c5;
    }
    .active {
      color: #d60000;
    }
  }
}
